body {
    text-align: justify;
    font-family: "tahoma";
    font-size:17px;
    color:blue
}

h1 {
    color:crimson
}
p{
    color: rgb(11, 197, 197) !important; 
}
p{
    color: #4dad5d28;
}
p{
    color: #d41b81be;
}
